<!DOCTYPE html>
<html>
  <style>
body {
  background-image: url('/img/bg.jpg');
}
</style>
  <head>
    <title>WEATHER</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   

  </head>
  <body>
           <div class='content'> 
             {{>header}}
             <p style="color:rgb(243, 85, 28)">Get your Weather now!</p>
         
          <form>
           <input placeholder="Location">
          <button>Fetch</button>
            </form>
        
        <p id="message1" style="color:rgb(243, 85, 28)"></p>
        <p id="message2" style="color:rgb(243, 85, 28)"></p>
         </div>
         
          {{>footer}}
           <script src="/js/app.js"></script>
  </body>
</html>
